/* left panel ------------------- */
.live-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.right-preview {
  background: linear-gradient(to bottom, #111827, #1f2937, #374151);
  width: 60%;
}


/* left form-------------------- */




